.shools{
    display: flex;

    .navbarshools{
        flex: 5;
        
        .shoolsTable
        {
          padding: 20px;
          .shoolsbtn{
            margin-left: 78.8rem;
          }
          .savetableshools{
            margin-top: 20px;
          }
         }
    }
}