.user{
    display: flex;

    .navbaruser{
        flex: 5;
        
        .userTable
        {
          padding: 20px;
          .listTitle{
            font-size: 20px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            color:#F9842C;
          }
          .userbtn{
            margin-left: 75rem;
          }
          .savetable{
            margin-top: 20px;
          }
         }
    }
}